body {
  font-family: "Arial";
  background-color: black;
  color: white;
  margin: 0px;
}

.wrapper {
  border-right: solid 1px darkgray;
  border-left: solid 1px darkgray;
}

.wd-search-bar {
  display: flex;
  color: white;
  padding: 10px 10px 20px 20px;
  justify-content: center;
}

.wd-search-bar input {
  background-color: darkgray;
  background-position: 10px 10px;
  padding-left: 40px;
  width: 100%;
  height: auto;
  border-radius: 25px;
  color: white;
  border-color: none;
  border-width: 0px;
}

::placeholder {
  color: lightgray;
}

#wd-search-pic {
  height: 10px;
  width: 10px;
  background-color: white;
}

.fa {
  display: flex;
  align-items: center;
}

.wd-gear-icon a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 10px 12px 10px 10px;
}

.wd-gear-icon {
  height: 15px;
  width: 30px;
  padding: 10px 12px 10px 20px;
  display: flex;
  align-items: center;
}

.wd-nav-tabs {
  display: flex;
  justify-content: space-around;
  text-decoration: bold;
  color: darkgray;
  padding: 10px 10px 10px 10px;
  margin: 0px;
}

.wd-nav-tabs li {
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
  padding: 16px 0px;
  font-size: 15px;
  color: rgb(110, 118, 125);
}

.wd-nav-tabs .wd-selected {
  border-bottom: solid 4px rgb(29, 161, 242);
  color: rgb(29, 161, 242);
}

.wd-main-content-section {
  border-top: solid 15px darkgray;
  margin: 0px;
  padding: 0px;
}

.wd-suggested-tiles-simple {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  margin: 0px;
  /*border-bottom: solid rgb(110,118,125);*/
}

.wd-suggested-tiles-simple h1 {
  font-weight: bold;
  font-size: 25px;
  margin: 5px 0;
  display: flex;
}

.wd-suggested-tiles-simple h3 {
  font-size: 13px;
  color: rgb(110, 118, 125);
  padding: 0px;
  margin: 0px;
  width: 50%;
  float: left;
}

.wd-suggested-author-image {
  display: flex;
  justify-content: space-between;
  border-top: solid rgb(110, 118, 125);
  border-bottom: solid rgb(110, 118, 125);
}

.wd-suggested-author-image > .wd-left-col > h3 {
  padding: 10px 0 2px 15px;
  margin: 0px;
  font-size:13px;
}

.wd-suggested-author-image > .wd-left-col > h1 {
  padding: 0px 0 2px 15px;
  margin: 0px;
  font-size:25px;
}

.wd-suggested-author-image > .wd-right-col > img {
  padding: 16px;
  height: 100px;
  width: 100px;
  border-radius: 25%;
}

.wd-suggested-title-image {
    display: flex;
    justify-content: space-between;
    border-top: solid rgb(110, 118, 125);
    border-bottom: solid rgb(110, 118, 125);
  }
  
  .wd-suggested-title-image > .wd-left-col > h3 {
    padding: 10px 0 2px 15px;
    margin: 0px;
    font-size:13px;
    color:rgb(110, 118, 125);
  }
  
  .wd-suggested-title-image > .wd-left-col > h1 {
    padding: 0px 0 2px 15px;
    margin: 0px;
    font-size:25px;
  }
  
  .wd-suggested-title-image > .wd-right-col > img {
    padding: 16px;
    height: 100px;
    width: 100px;
    border-radius: 25%;
  }

.wd-extra-small {
}
